<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hola Sinatra</title>
</head>
<body>
  <p><%= @name %></p><br>
  <p><%= @password %></p><br>
  <p><%= @email %></p><br>
  <p><%= @url %></p><br>
  <p><%= @numero %></p><br>
  <p><%= @fecha %></p><br>
</body>
</html>